.answerIcon {
  position: relative;
  background: #eef4ff url(/bot.png) center center / contain no-repeat;
  border-radius: 50%;
}

.typeingIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.18);
  border-radius: 16px;
}


.questionIcon {
  background: url(./icons/default-avatar.jpg);
  background-size: contain;
  border-radius: 50%;
}

.answerWrap .itemOperation {
  display: none;
}

.answerWrap:hover .itemOperation {
  display: flex;
}

.textArea {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 90px;
  border-radius: 12px;
  line-height: 20px;
  background-color: #ffffff;
  color: #111827;
}

.textArea:hover {
  background-color: #ffffff;
}

/* .textArea:focus {
  box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
} */

.count {
  /* display: none; */
  padding: 0 2px;
}

.sendBtn {
  background: #1c64f2 url(./icons/send-active.svg) center center no-repeat;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.12);
}

.sendBtn:hover {
  background-image: url(./icons/send-active.svg);
  background-color: #1a56db;
}

.textArea:focus+div .count {
  display: block;
}

.textArea:focus+div .sendBtn {
  background-image: url(./icons/send-active.svg);
}
